*{
    box-sizing: border-box;
    font-family:"Barlow semi condensed",sans-serif;
}
body{
    max-width:1440px ;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
