*{
    box-sizing: border-box;
    font-family:"Barlow semi condensed",sans-serif;
}
body{
    max-width:1440px ;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.Daniel{
    grid-area:Daniel ;
}
.Jonathan{
    grid-area: Jonathan;
}
.Kira{
    grid-area: Kira;
}
.Jeanette{
    grid-area: Jeanette;
}
.Patrick{
    grid-area: Patrick;
}
.container{
    max-width: 1100px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 25px;
    grid-template-areas: "Daniel Daniel Jonathan Kira" "Jeanette Patrick Patrick Kira";
}
.card{
    padding: 27px;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow: 15px 35px 75px rgba(0, 0, 0, .3);
    z-index: 0;
}
